<head></head>

<body>
    <div class="apprenticePage-container" id="apprenticePagePartial">
        <header>
            <h1>People that just became an apprentice.</h1>
            <ul>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis Cardona</h2>
                    <p>From: Oakley, CA</p>
                </li>
            </ul>

        </header>

    </div>
</body>