<head></head>

<body>
    <div class="apprenticePage-container" id="apprenticePagePartial">
        <header>
            <h1>People that just became an apprentice.</h1>
            <ul>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>

                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
            </ul>

        </header>

        <main>
            <partial name="_gettingStarted" />
        </main>

    </div>
</body>