<head>



</head>

<body>
    <div class="recommendation-container" id="BooksMaterialsPartial">
        <button onclick="RecommendationHandler(event)">Close</button>
        <h1>Book and materials</h1>

        <main class="recommendedItems-container">

            <section>
                <h2 class="span2">Web Design</h2>

                <p>This was the first book I got when I first started to have an interest in coding. When you get this
                    book, uses this as a refers. Don't try to memories everything in this book. </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=1118907442&asins=1118907442&linkId=a42a113745fac1ce3915bb3e3ee2bccf&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>

            <section>
                <h2 class="span2">Programming for Beginners</h2>

                <p>Read this book for fun. Don't spend your time taking notes or annotating the book. Simply read it and
                    focuses on typing out code on your computer instead.</p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=1719439559&asins=1719439559&linkId=865ca22b0952bc9ae0c2bd9479aaf093&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>


            <section>
                <h2 class="span2">Surface Book</h2>

                <p>I have owned a Surface Book since the first generation, and I love it. It is powerful, versatile, and
                    elegant. I get compliments everywhere I go. I'm always approached and ask how I like my Surface
                    Book, and I always say, get it, you will love it. </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B076J5Y9Y1&asins=B076J5Y9Y1&linkId=09f88538d5095476f826aa4c3554b1a3&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>

            <section>
                <h2 class="span2">External Monitor</h2>

                <p>Having an external monitor will increase your productivity. I personally bout two of these external
                    monitors. At the time of posting this item, they were on sale for $124.99 each. </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B072M34RQC&asins=B072M34RQC&linkId=53205ff792879296ad828d566fc1ccde&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>

            <section>
                <h2 class="span2">Surface Hub 2</h2>

                <p>If you are set on having two external monitors, you will need to get the Surface Hub 2. That allows
                    you to connect two monitors. I love this hub because not only does it support multiple external
                    monitors, but it also charges your Surface Book with one cable.</p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B086Q92563&asins=B086Q92563&linkId=429daa3ef65a2506bcc251ad7dbd0988&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>
            <section>
                <h2 class="span2">Laptop Fan</h2>

                <p>Once you get into multiple monitors, you will have to make sure that your Surface Book stays cool at
                    all times. There are many benefits in keeping the hardware cool, and one of them is extending life.
                </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B07JJTMR7R&asins=B07JJTMR7R&linkId=67593ae1777d21eb5ef93f25320c27e4&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>

            <section>
                <h2 class="span2">Surface Headphones</h2>

                <p>Once you start coding, you find yourself more focused, and to help me stat focuses, I have been using
                    the Surface Headphones. If you haven't noticed yet, I am a big Microsoft fan. Regardless of what
                    headphones you prefer, make sure they are over the headphones. This will let others around you know
                    that they are focused and do not what to be disturbed. </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B086Q9YGD3&asins=B086Q9YGD3&linkId=f7f6559f1e3855f633e0fb144f2685e8&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>


            <section>
                <h2 class="span2">Headphones Stand</h2>

                <p>I like to make sure I have a place for everything. I got this headphone stand and love the esthetics.
                </p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B01H6FC8KQ&asins=B01H6FC8KQ&linkId=6f0a2931837f2ecab73fecb6149f1d71&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>



            <section>
                <h2 class="span2">3x3 Speed Cube</h2>

                <p>This puzzle has to help me stay focused and
                    determined. You can contact me, and I can teach you how to solve it.</p>
                <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no"
                    frameborder="0"
                    src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ac&ref=qf_sp_asin_til&ad_type=product_link&tracking_id=progresslypag-20&marketplace=amazon&amp;region=US&placement=B00PM722OI&asins=B00PM722OI&linkId=6893c4e3562a944ea4aa96aad5e9e8d7&show_border=true&link_opens_in_new_window=true&price_color=333333&title_color=0066c0&bg_color=ffffff">
                </iframe>
            </section>

        </main>

    </div>
</body>