<head>


</head>

<body>
    <div class="recommendation-container" id="BooksMaterialsPartial">
        <button onclick="RecommendationHandler(event)">back</button>
        <h1>Book and materials</h1>
    </div>
</body>