<body>

    <div class="menu-container" id="mainMenu">

        <div class="menuIcon-container" onclick="showMainMenu()">
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
        </div>

        <div class="menuList-container">

            <main>
                <nav>
                    <ul>
                        <li>
                            <img src="assets/profilePlaceholder.png" alt="">
                            <button onclick="PartialHandler(event)"> Profile </button>
                        </li>
                        <li>
                            <img src="assets/iconNotebook.png" alt="">
                            <button onclick="PartialHandler(event)"> Daily Log </button>
                        </li>

                        <li>
                            <img src="assets/iconNetwork.png" alt="">
                            <button onclick="PartialHandler(event)"> Network </button>
                        </li>
                        <h3>Coming soon</h3>
                        <li>
                            <img src="assets/iconCalander.png" alt="">
                            <button onclick="PartialHandler(event)"> Activity Tracker </button>
                        </li>
                        <li>
                            <img src="assets/iconStckynotes.png" alt="">
                            <button onclick="PartialHandler(event)"> Stickynotes </button>
                        </li>
                        <li>
                            <img src="assets/iconBookmark.png" alt="">
                            <button onclick="PartialHandler(event)"> Bookmarks </button>
                        </li>
                        <li>
                            <img src="assets/iconTodoList.png" alt="">
                            <button onclick="PartialHandler(event)"> Todo-list </button>
                        </li>
                        <li>
                            <img src="assets/iconJob.png" alt="">
                            <button onclick="PartialHandler(event)"> Job Traker </button>
                        </li>

                        <a href="/logout">Logout</a>


                    </ul>
                </nav>

            </main>
            <aside>

                <nav>
                    <h3>Recommendation and support</h3>

                    <ul>
                        <section>

                            <li>
                                <a href="#">Materials and books</a>
                            </li>
                            <li>
                                <a href="#">Grammerly</a>
                            </li>

                            <li>
                                <a href="#">Coffe</a>
                            </li>

                        </section>

                        <section>

                            <li>
                                <a href="#">Merch Store</a>
                            </li>


                            <li>
                                <a href="#">Bootcamps Placement</a>
                            </li>

                        </section>
                        <section>
                            <li>
                                <a href="#">Terms of Service</a>
                            </li>

                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>

                        </section>

                    </ul>
                </nav>
            </aside>



            <footer>
                <img src="assets/logoWhiteSmall.png" alt="">


                <p>v2.0</p>
            </footer>


        </div>


    </div>

</body>