<body>

    <div class="menu-container" id="mainMenu">

        <div class="menuIcon-container" onclick="showMainMenu()">
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
            <div class="menuIcon"></div>
        </div>

        <div class="menuList-container">


            <nav>
                <img src="assets/profilePlaceholder.png" alt="">
                <button onclick="PartialHandler(event)"> Profile </button>
            </nav>

            <nav>
                <img src="assets/iconNotebook.png" alt="">
                <button onclick="PartialHandler(event)"> Daily Log </button>
            </nav>
            <nav>
                <img src="assets/iconNetwork.png" alt="">
                <button onclick="PartialHandler(event)"> Network </button>
            </nav>

            <h3>Coming Soon</h3>
            <nav>
                <img src="assets/iconCalander.png" alt="">
                <button onclick="PartialHandler(event)"> Activity Tracker </button>
            </nav>
            <nav>
                <img src="assets/iconStckynotes.png" alt="">
                <button onclick="PartialHandler(event)"> Stickynotes </button>
            </nav>
            <nav>
                <img src="assets/iconBookmark.png" alt="">
                <button onclick="PartialHandler(event)"> Bookmarks </button>
            </nav>

            <nav>
                <img src="assets/iconTodoList.png" alt="">
                <button onclick="PartialHandler(event)"> Todo-list </button>
            </nav>
            <nav>
                <img src="assets/iconJob.png" alt="">
                <button onclick="PartialHandler(event)"> Job Traker </button>
            </nav>

            <a href="/logout">Logout</a>


            <footer>
                <img src="img/Assets/logoWhite.png" alt="">
                <p>v1.0</p>
            </footer>


        </div>


    </div>

</body>