<head>

</head>

<body>
    <div class="apprenticePage-container" id="apprenticePagePartial">
        <header>
            <h1>People that just became an apprentice.</h1>
            <ul>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>

                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
                <li>
                    <img src="assets/profilePlaceholder.png" alt="">
                    <h2>Luis</h2>
                    <p>From: CA</p>
                </li>
            </ul>

        </header>

    </div>

    <div class="gettingStarted-container">
        <header>
            <h2>Get Started</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit libero ea iusto odio? Magni provident
                aliquam dolorum dolor doloremque, omnis illum animi minus, libero unde, illo tempore voluptates repellat
                quibusdam!</p>
            <button>Connect with Mentors</button>
        </header>
        <picture id="blurImage">
            <source media="(min-width: 1100px)" srcset="/assets/gettingStartedL.png" />
            <source media="(min-width: 500px)" srcset="/assets/gettingStartedM.png" />
            <img src="/assets/gettingStartedS.png" alt="">
        </picture>
        <main>

            <section>
                <h2>Dashboard & Tools</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam perspiciatis nihil debitis autem ut
                    facilis. Quaerat incidunt dolorum sunt expedita doloremque quam deleniti, impedit placeat vel.
                    Deserunt officiis sed quam!</p>
            </section>
            <aside>
                <nav>
                    <ul>
                        <h2>Available now</h2>
                        <li>
                            <img src="assets/profilePlaceholder.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Profile </h3>
                        </li>
                        <li>
                            <img src="assets/iconNotebook.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Daily Log </h3>
                        </li>
                        <li>
                            <img src="assets/iconNetwork.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Network </h3>
                        </li>
                        <h2>Coming soon</h2>

                        <li>
                            <img src="assets/iconCalander.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Activity Tracker </h3>
                        </li>

                        <li>
                            <img src="assets/iconStckynotes.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Stickynotes </h3>
                        </li>
                        <li>
                            <img src="assets/iconBookmark.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Bookmarks </h3>
                        </li>
                        <li>
                            <img src="assets/iconTodoList.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Todo-list </h3>
                        </li>
                        <li>
                            <img src="assets/iconJob.png" alt="">
                            <h3 onclick="PartialHandler(event)"> Job Traker </h3>
                        </li>


                    </ul>
                </nav>
            </aside>

            <footer>
                <header>
                    <h2>Become an apprentice. Get paid to learn.</h2>
                    <p>If you are interested in developing websites or webapps, why not get paid at the same time you
                        are
                        learning as an apprentice when you find a buisness that needs a website you can connect with a
                        mentor and share the bacon. Once you are ready you can become a mentor for others.</p>
                </header>
                <main>
                    <h2>Testing</h2>
                    <partial name="_regApprentice" />
                    <partial name="_regMentor" />

                </main>
            </footer>

        </main>

    </div>
</body>