<head> </head>

<body>
    <div class="gettingStarted-container">
        <header>
            <h2>Get Started</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit libero ea iusto odio? Magni provident
                aliquam dolorum dolor doloremque, omnis illum animi minus, libero unde, illo tempore voluptates repellat
                quibusdam!</p>
            <button>Connect with Mentors</button>
        </header>
        <main>
            <picture id="blurImage">
                <source media="(min-width: 1100px)" srcset="/assets/gettingStartedL.png" />
                <source media="(min-width: 500px)" srcset="/assets/gettingStartedM.png" />
                <img src="/assets/gettingStartedS.png" alt="">
            </picture>
        </main>
        <footer></footer>
    </div>
</body>