<head>

</head>

<body>
    <div class="recommendation-container getStarted-container" id="GetStartedPartial">
        <aside>
            <button onclick="RecommendationHandler(event)">&#60; back</button>
            <h1>Get Started</h1>
        </aside>

        <header>
            <aside>
                <h2>Why learn to code?</h2>
                <p>Knowing how to code will open more opportunities in your future. Companies like Facebook, Microsoft,
                    Apple, Amazon, and Google employ people that know how to code.</p>

            </aside>

            <section>
                <h2>What can you do with code.</h2>
                <p>You can do so much with code. Here are my top 8 list of things you can do with code. I will discuss
                    the first two further. </p>
                <ul>
                    <li>
                        <p>1. Websites.</p>
                    </li>
                    <li>
                        <p>2. Web apps.</p>
                    </li>
                    <li>
                        <p>3. Games.</p>
                    </li>
                    <li>
                        <p>4. Native Applications.</p>
                    </li>
                    <li>
                        <p>5. AI (artificial intelligence).</p>
                    </li>
                    <li>
                        <p>6. AR (augmented reality).</p>
                    </li>
                    <li>
                        <p>7. Robotics.</p>
                    </li>
                    <li>
                        <p>8. Automation.</p>
                    </li>
                </ul>

            </section>

            <section>
                <h2>Why is coding more important
                    now than ever before?</h2>
                <p>We are currently in a pre-paradigm shift on the types of work available in the future, and the year
                    2020 sure has sped up this paradigm shift. So getting started with coding is crucial, and the best
                    place to start is a website then web apps.</p>
            </section>

        </header>
        <main>
            <h2>Getting started with websites.</h2>
            <p>To get started coding, I will talk about 3 things you must do and 3 personals recommendations I have
                found helpful when just starting to code websites or web apps. Let us start with the first thing you
                need to do. </p>
            <ul>
                <li>1. Download two free software</li>
                <li>2. Learn three coding languages</li>
                <li>3. Understand the fundamental of programming.</li>

            </ul>
            <section id="FreeSoftware">
                <h2 onclick="GetStartedSectionHandler(event)">About the free softwares.</h2>
                <p>The two free software your going to need are Adobe XD and Visual Studio Code.</p>
                <section>
                    <h3>Adobe XD</h3>
                    <img src="assets/adobeXdImg.png" alt="">
                    <p>Adobe XD is software you use to create mockups. You will be using it to draw a website or app
                        digitally. It is used for UX/UI design to bring your ideas into a concept. You can download it
                        for
                        free on the adobes website.</p>
                    <button>Learn more.</button>
                </section>
                <section>

                    <h3>Visual Studio Code</h3>
                    <img src="assets/vsCodeImg.png" alt="">
                    <p>Visual Studio Code is a code editor that you use to type your code. There are plenty of code
                        editors
                        you can use, and in my opinion, Visual Studio Code is the king of them all. There are many
                        reasons
                        to use Visual Studio Code over other editors, and the number one reason is that it is free.
                        Don't
                        waste your time reaching what code editor to use, download VS code, and spend your time coding.
                    </p>
                    <button>Learn more.</button>
                </section>
            </section>

            <section id="CodingLanguages">
                <h2 onclick="GetStartedSectionHandler(event)">The three coding languages.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ut error, debitis facere, ipsa,
                    unde repellat explicabo nostrum tempore impedit consequuntur excepturi quibusdam aut quidem autem
                    dolorum placeat molestiae omnis?</p>

            </section>

            <section id="ProgrammingFundamentals">
                <h2 onclick="GetStartedSectionHandler(event)">Programming Fundamentals.</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam incidunt quaerat natus fugiat
                    similique suscipit commodi nostrum fugit aut! Amet autem sit ullam omnis reprehenderit vel in,
                    beatae doloribus corporis?</p>

            </section>




        </main>
        <footer>

        </footer>
    </div>
</body>