<head>

</head>

<body>
    <div class="recommendation-container getStarted-container" id="GetStartedPartial">
        <aside>
            <button onclick="RecommendationHandler(event)">&#60; back</button>
            <h1>Get Started</h1>
        </aside>

        <head>
            <section>
                <h2>Why learn to code?</h2>
                <p>Knowing how to code will open more opportunities in your future. Companies like Facebook, Microsoft,
                    Apple, Amazon, and Google employ people that are developers and know how to code.</p>

            </section>

            <section>
                <h2>What can you do with code.</h2>
                <p>You can do so much with code. Here are my top 8 list of things you can do with code. I will discuses
                    the
                    first two further. </p>
                <ul>
                    <li>1. Websites.</li>
                    <li>2. Web apps.</li>
                    <li>3. Games.</li>
                    <li>4. Native Applications.</li>
                    <li>5. AI (artificial intelligence).</li>
                    <li>6. AR (augmented reality).</li>
                    <li>7. Robotics.</li>
                    <li>8. Automation.</li>
                </ul>

            </section>

            <section>
                <h2>Why is coding more important
                    now than ever before?</h2>
                <p>We are currently in a pre-paradigm shift on the types of work available in the future, and the year
                    2020 sure has sped up this paradigm shift. So getting started with coding is crucial and the best
                    place to start is website then web apps.</p>
            </section>

        </head>
        <main>
            <section>
                <h2>Getting started with websites.</h2>
                <p>To get started coding, I will talk about 3 things you must do and 3 personals recommendations I have
                    found helpful when just starting to code websites or web apps. Let us start with the first thing you
                    need to do.
                </p>
                <ul>
                    <li>1. Download two free software</li>
                    <li>2. Learn three coding languages</li>
                    <li>3. Understand the fundamental of programming.</li>

                </ul>
            </section>






        </main>
        <footer>

        </footer>
    </div>
</body>