<head>

</head>

<body>
    <div class="recommendation-container" id="GrammarlyPartial">
        <button onclick="RecommendationHandler(event)">back</button>
        <h1>Grammerly</h1>
    </div>
</body>