<div class="homeButton-container">
    <button id="backHomeBTN" onclick="HeaderBannerHandler(event)">&lt Home</button>
</div>

<div class="headerBanner-container" id="HeaderBanner">

    <h1>Hello Header Banner</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptas officiis iste rem a explicabo quae
        recusandae consectetur, magni aperiam ratione tenetur exercitationem ea laborum possimus perspiciatis molestiae
        assumenda praesentium?</p>
</div>