<div class="homeButton-container">
    <button id="backHomeBTN" onclick="HeaderBannerHandler(event)">&lt Home</button>
</div>

<div class="headerBanner-container" id="HeaderBanner">
    <picture>
        <source media="(min-width: 1100px)" srcset="/assets/logoWhiteLarge.png" />
        <img src="/assets/logoWhiteSmall.png" alt="">

    </picture>

    <h1 id="BannerTitle">Hello Header Banner</h1>
    <p id="BannerOverview"></p>
    <p id="BannerSummery"></p>
    <a id="BannerLinkTag" href="#"></a>
</div>