<head>

</head>

<body>
    <div class="recommendation-container" id="HepSupportPartial">
        <button onclick="RecommendationHandler(event)">&#60; back</button>
        <h1>Help and Support</h1>
        <p>My goal for this web app is to connect people with the same interest in learning to code, and I will keep
            updating and supporting Progressly Page for as long as possible.</p>
        <p>The way you can help support this web app is simple if you were considering buying any of the materials or
            books I recommended in the material and books section. Please purchase with the link I have provided since I
            have an affiliate account with Amazon. For any of your purchases that are made with that link, I will get a
            small percentage.</p>
        <p>I thank you in advice for your support. I created the affiliate to help cover the cost of keeping the server
            up and running 24 hours, about $350.00 per month.</p>
        <p>Sincerely, Luis Cardona</p>
    </div>
</body>