<head>

</head>

<body>
    <div class="recommendation-container" id="HepSupportPartial">
        <button onclick="RecommendationHandler(event)">&#60; back</button>
        <h1>Help and Support</h1>

    </div>
</body>