<head>
    <script>
        $(document).ready(function () {
            alert("job tracker")
            $('#TodoListForm').submit(function (event) {
                event.preventDefault();
                let TodoListTitle = $('#TodoListTitle').val();

                let jsonData = {
                    title: TodoListTitle,
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TodoListHandler", "Home")',
                    data: jsonData,

                })

                console.log("data to be set to the backend:", jsonData);

            })

        })
    </script>

</head>

<body>
    <div class="jobTracker-container" id="jobTrackerPartial">
        <h1>Job Tracker</h1>
    </div>
</body>