<head>

</head>

<body>
    <ul id="newMentorList">
        <h2>New Mentors</h2>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>

        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
        <li>
            <img src="assets/profilePlaceholder.png" alt="">
            <h2>Luis</h2>
            <p>From: CA</p>
        </li>
    </ul>
</body>