<head>
    <script>
        $(document).ready(function () {
            $.get("/AllApprentice", data => {
                RenderData(data);
                console.log("get data", data)
            });

            const RenderData = (data) => {
                console.log("here is all the mentors", data)
                console.log("here is all the data", data.getAllApprentice)

                $.each(data.getAllApprentice, function (key, value) {
                    console.log("value", value)
                    console.log("value", value.firstName)

                    $(`
                       <li>
                          <img src="assets/profilePlaceholder.png" alt="">
                          <h2>${value.firstName}</h2>
                          <p>From: ${value.state} </p>
                       </li>
                     `).prependTo("#newApprenticeList")

                });

            };

        });

    </script>
</head>

<body>
    <ul id="newApprenticeList">

    </ul>
</body>