<head>

    <script>
        $(document).ready(function () {
            $.get("/AllMentors", data => {
                RenderData(data);
            });

            const RenderData = (data) => {
                $.each(data.getAllMentors, function (key, value) {

                    let firstNameInitials = value.firstName.charAt(0);
                    console.log("fristname initail", firstNameInitials);

                    let lastNameInitials = value.lastName.charAt(0);
                    console.log("lastName initial", lastNameInitials);

                    $(`
                       <li>
                            <header>
                                <h1>${firstNameInitials}${lastNameInitials}</h1>
                            </header>
                            <h2>${value.firstName} ${value.lastName}</h2>
                            <p>From: ${value.state} </p>
                       </li>
                     `).prependTo("#newMentorList")

                });

            };

        });

    </script>

</head>

<body>
    <ul id="newMentorList">

    </ul>
</body>