<head>
    <script>
        $(document).ready(function () {
            $.get("/AllApprentice", data => {
                RenderData(data);
            });

            const RenderData = (data) => {

                $.each(data.getAllApprentice, function (key, value) {

                    $(`
                       <li>
                          <img src="assets/profilePlaceholder.png" alt="">
                          <h2>${value.firstName}</h2>
                          <p>From: ${value.state} </p>
                       </li>
                     `).prependTo("#newApprenticeList")

                });

            };

        });

    </script>
</head>

<body>
    <ul id="newApprenticeList">

    </ul>
</body>