<head>
    <script>
        $(document).ready(function () {
            $.get("/AllApprentice", data => {
                RenderData(data);
            });

            const RenderData = (data) => {
                $.each(data.getAllApprentice, function (key, value) {

                    let firstNameInitials = value.firstName.charAt(0);
                    let lastNameInitials = value.lastName.charAt(0);

                    $(`
                       <li>
                            <header style="background: #${value.profileColor}">
                                <h1>${firstNameInitials}${lastNameInitials}</h1>
                            </header>
                          <h2>${value.firstName}</h2>
                          <p>From: ${value.state} </p>
                       </li>
                     `).prependTo("#newApprenticeList")

                });

            };

        });

    </script>
</head>

<body>
    <ul id="newApprenticeList">

    </ul>
</body>