<head>
    <script>
        $(document).ready(function () {
            $('#PostToFeedForm').submit(function (event) {
                event.preventDefault();
                let postMessage = $('#PostMessage').val();

                let jsonData = {
                    message: postMessage,
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostFeedHandler", "Home")',
                    data: jsonData,

                })

            })

            $.get("/DisplayPostFeed", data => {
                RenderData(data);
            })

            const RenderData = (data) => {
                $.each(data.data, function (i, v) {
                    $(`
                     <li>
                         <p>${v.message}</p>
                         <button id="${v.postId}" onclick="CommentsHandler(event)"> <a id="${v.postId}" onclick="SetPostIntoSession(event)">${v.postId} commment</a></button>
                     </li>
                    `).prependTo("#AllPostFeed");

                });
            };


            $('#PostCommentForm').submit(function (event) {
                event.preventDefault();
                alert("button was click");
                let UserComment = $('#UserComment').val();

                let jsonData = {
                    message: UserComment,
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostCommentHandler", "Home")',
                    data: jsonData,

                })

            })
        })


        const SetPostIntoSession = (e) => {
            let postId = e.target.id;

            var jsonData = {
                postId: postId,
            };

            console.log("json data post id:", jsonData)

            $.ajax({
                url: '@Url.Action("SetPostIntoSession", "Home")',
                type: "GET",
                data: jsonData,
                @* success: SuccessStatus, *@
                @* error: ErrorStatus, *@
                @* complete: CompleteStatus *@
            });

        }




    </script>

</head>

<body>
    <div class="postFeed-container">

        <head>
            <h1>Post feed</h1>
            <form method="POST" id="PostToFeedForm">
                <input id="PostMessage" type="text" placeholder="what is on your mind?">
                <input type="submit" value="Post">

            </form>
        </head>
        <main>
            <h2>Data from the data base</h2>

            <ul id="AllPostFeed">

                <footer class="postComments-container" id="PostComments">
                    <form method="POST" id="PostCommentForm">
                        <input id="UserComment" type="text" placeholder="What are your thoughts about this post?">
                        <input type="submit" value="Post">

                    </form>

                </footer>

            </ul>

        </main>

    </div>

</body>