<head>
    <script>
        $(document).ready(function () {
            $('#PostToFeedForm').submit(function (event) {
                event.preventDefault();
                let postMessage = $('#PostMessage').val();

                let jsonData = {
                    message: postMessage,
                };

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("PostFeedHandler", "Home")',
                    data: jsonData,

                })

                console.log("data to be set to the backend:", jsonData);
            })

            $.get("/DisplayPostFeed", data => {
                RenderData(data);
            })

            const RenderData = (data) => {
                console.log("post feed data", data.data)
                $.each(data.data, function (i, v) {
                    console.log("message", v.message)
                    $(`
                     <li>${v.message}</li>
                    `).prependTo("#AllPostFeed");

                });
            };


        })
    </script>

</head>

<body>
    <div class="Post-Feed">

        <head>
            <h1>Post feed</h1>
            <form method="POST" id="PostToFeedForm">
                <input id="PostMessage" type="text" placeholder="what is on your mind?">
                <input type="submit" value="Post">

            </form>
        </head>
        <main>
            <h2>Data from the data base</h2>

            <ul id="AllPostFeed">

            </ul>

        </main>

    </div>

</body>