@using ProgressLog.Models
@model User

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Loger</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/regLogin.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HB0NHJ3FD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6HB0NHJ3FD');
    </script>

</head>

<body>
    <div class="regLogin-container">


        <div class="form-container">

            <form asp-action="RegisterMentor" asp-controller="Home" method="POST">
                <h1>Become a Mentor</h1>
                <a href="/signin">Sign in.</a>

                <input class="hidden" asp-for="AccountType" placeholder="AccountType">

                <span asp-validation-for="Email"></span>
                <input asp-for="Email" placeholder="Email">

                <span asp-validation-for="Password"></span>
                <input asp-for="Password" placeholder="Password">

                <span asp-validation-for="Confirm"></span>
                <input asp-for="Confirm" placeholder="Confirm Password">

                <span asp-validation-for="FirstName"></span>
                <input asp-for="FirstName" placeholder="First Name">

                <span asp-validation-for="LastName"></span>
                <input asp-for="LastName" placeholder="Last Name">

                <input asp-for="UserTitle" placeholder="Title: Full Stack Developer, Frontend, Backend ect..">
                <input asp-for="MeetUpLink" placeholder="MeetUpLink">

                <input class="hidden" asp-for="ProfileImg" placeholder="Profile Img">
                <input class="hidden" asp-for="ProfileBackground" placeholder="ProfileBackground">

                @* <input type="submit" value="submit"> *@
                <button type="submit">Create Account</button>

            </form>
        </div>


    </div>

</body>

</html>
