<head></head>

<body>
    <div class="websiteServices-container" id="websiteServicesPartial">

        <header>
            <ul>
                <li>
                    <header>
                        <h2>Mobile Website</h2>
                    </header>
                    <main>
                        <ul class="servicePricing-container">
                            <li>
                                <h2>Mobile Design</h2>
                            </li>
                            <li>
                                <h2>$250.00</h2>
                            </li>
                            <li>
                                <h2>Mobile Development</h2>
                            </li>
                            <li>
                                <h2>$250.00</h2>
                            </li>
                            <li>
                                <h2>Total_________</h2>
                            </li>
                            <li>
                                <h2>$500.00</h2>
                            </li>
                        </ul>
                    </main>
                    <footer>
                        <ul class="subscriptionInfo-container">
                            <h3>Included in your Subsctiption</h3>
                            <li>Website Development</li>
                            <li>Website Hosting</li>
                            <li>SSL Certificate</li>
                            <li>Regular Maintains</li>
                            <li>Unlimited Updates</li>

                        </ul>
                    </footer>
                </li>

                <li>
                    <header>
                        <h2>Responsive Website</h2>

                    </header>
                    <main></main>
                    <footer></footer>
                </li>
                <li>
                    <header>
                        <h2>Web App</h2>

                    </header>
                    <main></main>
                    <footer></footer>
                </li>
            </ul>
        </header>

    </div>
</body>