<head></head>

<body>
    <div class="websiteServices-container" id="websiteServicesPartial">

        <header>
            <ul>
                <li id="mobileWebsiteServices">
                    <header>
                        <h2 onclick="ServicesOptions(event)">Mobile Website</h2>
                    </header>
                    <main>
                        <ul>
                            <li>
                                <h3>Mobile Design</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$250.00</h3>
                            </li>
                            <li>
                                <h3>Mobile Development</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$250.00</h3>
                            </li>
                            <li>
                                <h3>Total____________________</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$500.00</h3>
                            </li>
                        </ul>

                    </main>

                    <aside>
                        <ul>
                            <h3>Included in your Subsctiption</h3>
                            <li>SSL Certificate</li>
                            <li>Regular Maintains</li>
                            <li>Unlimited Updates</li>
                            <li>Re-deployment</li>
                        </ul>
                    </aside>
                    <footer>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="8XQJR2M39U7FQ">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>

                        <h3>$40.00/month</h3>
                    </footer>
                </li>

                <li id="responsiveWebsiteServices">
                    <header>
                        <h2 onclick="ServicesOptions(event)">Essentials Website</h2>
                    </header>
                    <main>
                        <ul>
                            <li>
                                <h3>Mobile Design</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$250.00</h3>
                            </li>
                            <li>
                                <h3>Tablet Design</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$250.00</h3>
                            </li>

                            <li>
                                <h3>Desktop Design</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$250.00</h3>
                            </li>

                            <li>
                                <h3>Development</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$750.00</h3>
                            </li>

                            <li>
                                <h3>Total____________________</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$1,500.00</h3>
                            </li>
                        </ul>

                    </main>

                    <aside>
                        <ul>
                            <h3>Included in your Subsctiption</h3>
                            <li>SSL Certificate</li>
                            <li>Regular Maintains</li>
                            <li>Unlimited Updates</li>
                            <li>Re-deployment</li>
                        </ul>
                    </aside>
                    <footer>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="FS7CZ3EALU6N4">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                        <h3>$60.00/month</h3>
                    </footer>
                </li>
                <li id="webAppServices">
                    <header>
                        <h2 onclick="ServicesOptions(event)">Web App</h2>
                    </header>
                    <main>
                        <ul>
                            <li>
                                <h3>Design & Planning</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$2,000.00</h3>
                            </li>

                            <li>
                                <h3>Web App Development</h3>
                            </li>
                            <li class="keepRight">
                                <h3>Essentials</h3>
                            </li>
                            <aside class="span2" id="premiumServices">
                                <ul>
                                    <li>
                                        <input type="checkbox" name="" id="" checked>
                                        <h3>Frontend Developer...................</h3>
                                        <h3>$1,000.00</h3>
                                    </li>

                                    <li>
                                        <input type="checkbox" name="" id="" checked>
                                        <h3>Backend Developer...................</h3>
                                        <h3>$1,000.00</h3>
                                    </li>

                                    <li>
                                        <input type="checkbox" name="" id="" checked>
                                        <h3>Database Developer...................</h3>
                                        <h3>$1,000.00</h3>
                                    </li>

                                </ul>

                                @* <ul>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Text Chat Developers.................</h3>
                                    <h3>$5,000.00</h3>
                                    </li>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Geolocation and Navigation Developers...............................</h3>
                                    <h3>$8,000.00</h3>
                                    </li>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>eCommerce...............................</h3>
                                    <h3>$15,000.00</h3>
                                    </li>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Imgages and File Uploads System Developers..................</h3>
                                    <h3>$125,000.00</h3>
                                    </li>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Video Uploads System Developers................................</h3>
                                    <h3>$135,000.00</h3>
                                    </li>


                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Cloud Database Developers..................................</h3>
                                    <h3>$175,000.00</h3>
                                    </li>

                                    <li>
                                    <input type="checkbox" name="" id="">
                                    <h3>Video Chat Rendering System Developers.................................</h3>
                                    <h3>$255,000.00</h3>
                                    </li>


                                    </ul> *@

                            </aside>
                            @* <button class="span2" id="premiumServicesBNT"
                                onclick="PremiumServicesHandler(event)">More
                                Options</button> *@


                            <li>
                                <h3>AWS Deployment</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$500.00</h3>
                            </li>
                            <li>
                                <h3>Total____________________</h3>
                            </li>
                            <li class="keepRight">
                                <h3>$5,500.00</h3>
                            </li>
                        </ul>

                    </main>

                    <aside>
                        <ul>
                            <h3>Included in your Subsctiption</h3>
                            <li>SSL Certificate</li>
                            <li>Regular Maintains</li>
                            <li>Unlimited Updates</li>
                            <li>Re-deployment</li>
                        </ul>
                    </aside>
                    <footer>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="M56XHSE6QPJVC">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif"
                                border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>

                        <h3>$80.00/month</h3>
                    </footer>
                </li>
            </ul>
        </header>

    </div>
</body>