@using ProgressLog.Models
@model MainWrapper

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Written Logs</title>

    <link rel="stylesheet" href="~/css/dashboard.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">
    <script src="~/js/dashboard.js" async=""></script>
    @* <script src="~/js/dashboard.js" async=""></script> *@



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HB0NHJ3FD"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-6HB0NHJ3FD');
    </script>

</head>

<body>

    <div class="dashboard-container">

        <partial name="_dashboardNav" />
        <partial name="_DailyRoutine" />
        <partial name="LogPartial" />
        @* <partial name="_Profile" /> *@
        <partial name="_Profile" model="@Model.User" />
        <partial name="_Network" />
        <partial name="_ActivityTracker" />
        <partial name="_Stickynotes" />
        <partial name="_Bookmarks" />
        <partial name="_TodoList" />
        <partial name="_JobTracker" />


    </div>
</body>

</html>