<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progressly Page</title>
    <link rel="stylesheet" href="~/css/landingPage.css">
    <script src="~/js/landingPage.js" async=""></script>

</head>

<body>

    @* <partial name="_signIn" /> *@
    <div class="landingPage-container">

        <div class="background-container">
            <picture>
                <img src="/assets/landingPageMobile.png" alt="">
            </picture>
        </div>


        <div class="options-container">
            <header>
                <picture>
                    <img src="/assets/logoSmall.png" alt="">
                </picture>
                <p>Connecting people together to help businesses get online. </p>
            </header>
            <main>
                <button>Website Services</button>
                <button>Apprentice</button>
                <button>Mentor</button>
            </main>
        </div>

        <div class="apprenticePage-container"></div>
        <div class="mentorPage-container"></div>



    </div>

</body>

</html>