<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progressly Page</title>
    <link rel="stylesheet" href="~/css/landingPage.css">
    <link rel="stylesheet" href="~/css/globalStyles.css">


    <script src="~/js/landingPage.js" async=""></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    @* <script src="~/js/script.js" async=""></script> *@


    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6HB0NHJ3FD"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>




</head>

<body>
    <a href="/coding-mentor">
        <button id="blogBTN">Learn to code.</button>
    </a>

    <partial name="_headerBanner" />

    <div id="signInContainer" class="signIn-container">
        <partial name="_signIn" />
    </div>
    <div class="landingPage-container">



        <nav>
            @* <button onclick="showSignIn(event)">sign up</button> *@
            <button onclick="showSignIn(event)">sign in</button>
        </nav>



        <div class="background-container">
            <picture id="blurImage">
                <source media="(min-width: 1100px)" srcset="/assets/landingPageDesktop.png" />
                <source media="(min-width: 500px)" srcset="/assets/landingPageTablet.png" />
                <img src="/assets/landingPageMobile.png" alt="">
            </picture>
        </div>


        <div class="options-container">
            <header>
                <picture>
                    <source media="(min-width: 1100px)" srcset="/assets/logoLarge.png" />
                    <img src="/assets/logoSmall.png" alt="">
                </picture>
                <p>Connecting people together to help businesses get online. </p>
            </header>
            <main id="mainOptions">
                <button onclick="HeaderBannerHandler(event)">Website Services</button>
                <button onclick="HeaderBannerHandler(event)">Apprentice</button>
                <button onclick="HeaderBannerHandler(event)">Mentor</button>
            </main>
        </div>


        <div class="mentorPage-container"></div>


    </div>



    <partial name="_gettingStarted" />
    <partial name="_services" />


</body>

</html>