@using ProgressLog.Models
@model LogRecord

<div class="newLog_container">
    <form asp-action="CreateLog" asp-controller="Home" method="POST">
        <textarea asp-for="TextLog" id="newLogBTN" onclick="showNewLog()" placeholder=" enter log..."></textarea>
        <div class="logOptions_container">
            <button onclick="hideNewLog()" type="button" id="cancleLog">Cancle</button>
            <input onclick="hideNewLog()" id="saveBTN" type="submit" value="Save">

        </div>
    </form>

</div>