@using ProgressLog.Models
@model Section


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $.get("/DisplaySection", data => {
            RenderData(data);
        });

        const RenderData = (data) => {
            console.log("user Data", data.data)

            $.each(data.data, function (key, value) {
                console.log(value)
                console.log("section info:", value.sectionId + value.title)

                let sectionId = value.sectionId;
                let sectionTitle = value.title;

                $(`<li id="${value.sectionId}">
                    <div class="title-container">

                      <div class="dotIcon-container">
                            <div class="DotIcon"></div>
                            <div class="DotIcon"></div>
                            <div class="DotIcon"></div>
                        </div>
                        <button id="${sectionId}" onclick="showDeleteSection(event)"></button>

                        <button id="page-selected"> <a href="/sectionLink/${sectionId}">${sectionTitle}
                            </a></button>

                    </div>
                    <div id="${sectionId}" class="deleteSection-container">
                        <section>
                            <aside>

                                <button id="${sectionId}" onclick="hideDeleteSection(event)"> Cancel
                                </button>
                                <button onclick="hideDeleteSection()"> <a href="/deleteSection/${sectionId}">Delete
                                    </a></button>
                            </aside>
                        </section>
                    </div>

                    </li>`).appendTo("#sectionItems");


            });
        };

        $("#NewSectionForm").submit(event => {
            event.preventDefault();
            alert("New Section is being created!");

            let title = $('#Title').val();
            var sectionData = {
                title: title,
            };
            console.log("Section data:", sectionData);

            $.ajax({
                url: '@Url.Action("NewSectionHandler", "Home")',
                type: "POST",
                data: sectionData,
                success: SuccessStatus,
                error: ErrorStatus,
                complete: CompleteStatus
            });

        });

        const SuccessStatus = (result) => {
            console.log("Success...");
        };
        const ErrorStatus = (xhr, status, strErr) => {
            console.log("There was an error!");
        };
        const CompleteStatus = (xhr, status) => {
            console.log("Ajax has completed...");
        };

    });

</script>

<div class="newRecord_container">
    <form id="NewSectionForm" asp-action="NewSectionHandler" asp-controller="Home" method="POST">
        <input asp-for="Title">
        <input type="submit" value="+" class="SectionBTN">
    </form>

</div>

<header class="section-container">

    <nav class="page-nav">
        <ul id="sectionItems">
        </ul>
        <ul>
            @foreach (var item in ViewBag.allSections)
            {
                <li>
                    <div class="title-container">

                        <div class="dotIcon-container">
                            <div class="DotIcon"></div>
                            <div class="DotIcon"></div>
                            <div class="DotIcon"></div>
                        </div>


                        <button id="@item.SectionId" onclick="showDeleteSection(event)"></button>

                        <button id="page-selected"> <a href="/sectionLink/@item.SectionId">@item.Title
                            </a></button>

                    </div>
                    <div id="deleteSection@(item.SectionId)" class="deleteSection-container">
                        <section>
                            @* <h2>Are you sure you want to delete section?</h2> *@
                            <aside>

                                <button id="@item.SectionId" onclick="hideDeleteSection(event)"> Cancel
                                </button>
                                <button onclick="hideDeleteSection()"> <a href="/deleteSection/@item.SectionId">Delete
                                    </a></button>
                            </aside>
                        </section>
                    </div>
                </li>
            }
        </ul>
</header>


</nav>