

.blogPage-container{
    display: grid;

}

#blogPost{
    margin-top: -40px;
}


/* Get started------------------------------- */
.getStarted-container{
	background: white;
	row-gap: 10px;
    max-width: 65em;
    overflow: scroll;
    height: 100vh;
}


@media screen and (min-width: 1100px){

        
    .blogPage-container{
        grid-template-columns: 1fr 3.5fr;
        margin-top: 0px;

    }

	.getStarted-container{
		height: 105vh;
	}
}
.getStarted-container ul {
    margin: 0;

}

.getStarted-container>section{
	display: grid;
	grid-template-columns: 80px 1fr;
	height: 40px;
	align-items: center;
}

.getStarted-container>section button{
	height: 40px;
	width: auto;
	background: none;
	color: #136DC0;
	border: none;
	text-align: left;
}

.getStarted-container>header aside{
	background: #136DC0;
	position: relative;
	height: auto;
	padding: 10px;
	color: white;
	border-radius: 10px 10px 0 0;
	display: grid;
	row-gap: 5px;

}

.getStarted-container>header aside h2{
	font-size: 1.7em;
	font-family: monospace;
	color: white;
}

.getStarted-container>header aside p{
	font-size: 1.1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.getStarted-container>header section{
	display: grid;
	padding:  10px;
	row-gap: 13px;
}



.getStarted-container h2{
	font-size: 1.5em;
	font-family: monospace;
	font-weight: bold;
	color: black;
}

.getStarted-container p{
	font: 1em sans-serif;
}


.getStarted-container>main{
	display: grid;
	padding: 10px;
	row-gap: 20px;

}

.getStarted-container>main>section{
	display: grid;
	row-gap: 20px;
	height: 40px;
	overflow: hidden;
	border: solid 1.5px #136DC0;
	border-radius: 7px;
}

.getStarted-container main section section{
	border: solid black 1px;
	padding: 10px;
	border-radius: 7px;
}



.getStarted-container>main>section h2{
	padding: 10px;
	cursor: pointer;
	color: #136DC0;
}

.getStarted-container section p, 
.getStarted-container main p,
.getStarted-container aside p{
	font-size: 1.2em;
	line-height: 23px;
}



.getStarted-container>main section section{
	display: grid;
	row-gap: 10px;
}

.getStarted-container>main section section h3{
	font-size: 1.5em;
	font-family: monospace;
}



.getStarted-container main section img{
	width: 300px;

}

.getStarted-container>footer{
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 5px;
	padding: 0 10px;
}

.getStarted-container>footer>button{
	background: white;
	color: #136DC0;
	border: solid 1px #136DC0;
	height: 40px;
	font: 1em sans-serif;
}

.getStarted-container footer a:first-child button {
	background: #136DC0;
	color: white;
	font: 1em sans-serif;
	border: solid 1px #136DC0;
	height: 40px;
	width: 100%;

}


.getStarted-container aside{
	padding: 10px;
	padding-top: 30px;
	display: grid;
	row-gap: 15px;

}


.mentorshipOption-container{
	display: none;
	/* left here */
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.735);
	height: 100vh;
	width: 100vw;
	margin: 0;
	justify-content: center;
	align-content: center;
}

.mentorshipOption-container>button{
	border-radius: 60px;
	background: rgba(0, 0, 0, 0.509);
	color: white;
	font: 1.5em sans-serif;
	border: solid 1px white;
	position: fixed;
	top: 5%;
	right: 50%;

}

.mentorshipOption-container>header{
	display: grid;
	row-gap: 10px;
	background: white;
	height: 500px;
	width: 360px;
	border-radius: 7px;
	align-content: center;

}
.mentorshipOption-container header section {
	display: none;
	width: auto;
	row-gap: 20px;
}

.mentorshipOption-container>header> aside {
	display: grid;
	row-gap: 10px;
	justify-content: center;
	align-content: center;
}


.mentorshipOption-container>header> aside button{
	background: #136DC0;
	color: white;
	width: 250px;
	height: 50px;
	font: 1.3em sans-serif;
	justify-self: center;
	border: none;

}

.mentorshipOption-container header header{
	background: #136DC0;
	color: white;
	height: 50px;
	font-size: 1.1em;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	border-radius: 7px 7px 0 0;
	padding-left: 10px;
	padding-top: 5px;

}

#TitleHeader{
	display: none;
	align-content: center;
}

.mentorshipOption-container header header h1{
	cursor: pointer;
	font: 1.5em sans-serif;
}


.mentorshipInfo-container {
	display: grid;
	row-gap: 20px;
}

.mentorshipInfo-container  main{
	display: grid;
	grid-row: 20px;
	padding: 0 20px;
}


.mentorshipInfo-container>footer{
	display: grid;
	row-gap: 5px;
	padding: 0 20px;
}

.mentorshipInfo-container>footer ul{
	padding-left: 20px;
}

.mentorshipInfo-container>footer ul li{
	list-style: disc;
}



.mentorshipOption-container  main footer{
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

#BeginnerSubscription,
#IntermediateSubscription,
#AdvancedSubscription{
	display: none;
	padding: 20px;
	row-gap: 10px;
}

#BeginnerSubscription p,
#IntermediateSubscription p,
#AdvancedSubscription p{
	justify-self: center;
}


.mentorshipOption-container main button{
	background: white;
	color: #136DC0;
	height: 35px;
	width: 140px;
	font-size: 1.1em;
	border: solid 1px #136DC0;
}


