/* I will be moving all css code from all file that is related to daily log */

.dailyLog-container {
    display: grid;
    background: whitesmoke;
    max-width: 65em;
    margin: 0 auto;
    font: 1em sans-serif;
    height: 100vh;

}

#logItemBeingEdited{
    display: none;
}

.dailyLog-container ul {
    list-style: none;
}

.dailyLog-container a {
    text-decoration: none;
    color: black;
}

ul {
    padding: 0px;

}

button{
    outline: none;
    cursor: pointer;
}



.dailyLog-container ::-webkit-scrollbar {
    display: none;
}


.outline ::-webkit-scrollbar,
.month-tabs ::-webkit-scrollbar,
.content-wrapper ::-webkit-scrollbar,
.paper-container ::-webkit-scrollbar {
    display: none;
}





/*Header navigation for all pages----------------------------------------->*/
 header {
    display: grid;
    background: #136DC0;
    color: white;
    max-height: 120px;
    padding-top: 5px;
    /* width: 100vw; */
}

.section-container{
    background: none;
    box-shadow: none;
}



.dailyLog-container h1 {
    display: none;

}

header>a {
    padding: 10px;
    color: white;
    justify-self: left;
    /* padding: 10px; */
}




header>section {
    display: grid;
    grid-template-columns: 1fr ;
    justify-content: center;
    align-items: center;

}



.newRecord_container{
    width: auto;
    padding-right: 10px;

}

.newRecord_container form{
    display: grid;
    grid-template-columns: 1fr 50px;
    background: none;
}



header img {
    height: 50px;
    width: auto;
    margin: 0 auto;
    display: block;
    padding-left: 10px;
}

.page-nav ul {
    display: flex;
    float: left;
    padding: 0;
    /* justify-content: center; */
    width: 100%;
    height: auto;
    background: none;
    overflow: scroll;
    width: 97vw;
    padding-left: 10px;
    

}

.page-nav ul li {
    display: grid;
    grid-template-columns: 20px 1fr;
    margin-right: 10px;
    background: white;
    border-radius: 5px;
    align-items: center;
    justify-items: left;
    padding: 0px;
    min-width: 120px;
    height: 40px;
    padding-left: 10px;

    /* padding: 13px; */


}


.page-nav a {

    color: rgb(19, 109, 192);
    padding-left: 3px;
}

.title-container {
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 15px 1fr;
    column-gap: 5px;
    background: none;
    width: 100%;


}

.dotIcon-container {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    row-gap: 3px;
    background: none;
    align-self: center;
    padding: 5px;
    cursor: pointer;


}

.title-container button:first-of-type{
    height: auto;
    width: auto;
    background: none;
    grid-row: 1/2;
    grid-column: 1/2;
    cursor: pointer;
}

.DotIcon {
    background: rgb(19, 109, 192);
    height: 5px;
    width: 5px;
    border-radius: 10px;
}

.page-nav button {
    border: none;
    font-size: 1em;
    height: 100%;
    padding: 0px;
    text-align: left;
    word-spacing: normal;
    font-size: .9em;
    width: auto;
    overflow: hidden;
    background: white;



}

.deleteSection-container {
    grid-row: 1/2;
    grid-column: 1/3;
    display: none;
    position: relative;
    background: white;
    /* top: 0; */
    /* left: 0; */
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 100;
    border-radius: 20px;    


}



.deleteSection-container>section {
    display: grid;
    background: none;
    height: 100%;
    width: auto;


}

.deleteSection-container aside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;

}


.deleteSection-container  aside>button {
    /* background: rgb(19, 109, 192); */
    text-align: center;
    border: none;
    padding: 5px;

}

.deleteSection-container aside button:first-child {
    border-radius: 20px;    

}


.deleteSection-container aside button:last-child {
    background: red;
    color: white;
    cursor: pointer;

}

.deleteSection-container aside button a{
    color: grey;

}








/*Header Responsive Styles----------------------------------------------->*/
@media screen and (min-width: 1100px) {
    .dailyLog-container {
        grid-template-columns: 230px 1fr;
        column-gap: 0%;
        max-width: none;
        margin-left: 0px;
    }

    header {
        position: sticky;
        top: 0;
        left: 0;
        display: grid;
        grid-template-rows: 70px 50px;
        /* border-radius: 30px 0 0 30px; */
        /* box-shadow: -5px 0 20px rgba(0, 0, 0, 0.336); */
        padding-top: 20px;
        /* margin-top: 5px; */
        justify-items: flex-end;
        max-height: none;
        height: auto;
        min-width: 200px;
    }

    .section-container{
        background:  none;
        box-shadow: none;
        height: 90vh;

    }


    header>section {
        display: grid;
        justify-content: right;
        align-items: center;
    }




    /*     

    header img {
        width: 90%;
    } */


    .page-nav ul {
        display: grid;
        row-gap: 5px;
        padding: 0;
        justify-content: right;
        margin-left: 10px;
        justify-items: flex-end;
        width: 100%;

    }

    .page-nav ul li {
        border-radius: 10px 0 0 10px;
        align-items: center;
        justify-items: left;
        padding: 0 5px;
         min-width: 200px;
         height: 50px;

        /* width: 180px; */



    }


    .page-nav button {
        font-size: 1.2em;
        text-align: left;

    }


    a {
        color: black;
        cursor: pointer;
    }

    #page-selected {
        background: white;
    }

    #page-selected a {
        color: black;

    }

}


#paper{
    display: none;
}





/*Main-------------------------------------------------->*/

.dailyLog-container main {
    display: grid;
    background: none;
    /* height: 105vh; */
    width: 85vw;
    justify-items: center;
}

button{
    outline: none;
}
.welcomeMsg{
    align-self: center;
    justify-items: center;
    text-align: center;

}

.welcomeMsg p{
    font: 2em sans-serif;
    color: black;

}

.dailyLog-container main  ::-webkit-scrollbar{
    display: none;
}

.logItem_container{
    display: grid;
    grid-template-columns:  4fr 1fr;
    border-bottom: solid 2px rgb(19, 109, 192);
    padding: 0;
    align-items: center;
    background: white;
    position: sticky;
    top: -1px;
    left: 0;
    height: 60px;
    overflow: hidden;


}

.logItem_container h3 {
    font: 1em sans-serif;

}

.editDelete_container{
    display: grid;
    grid-template-columns:  1fr 1fr;
    width: 100px;
}
.editDelete_container>a{
    color: black;
}

#cancleLog{
    display: none;
}

.logOptions_container{
    display: grid;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr ;
    column-gap: 10px;
    justify-items: center;
    margin-top: 5px;
    /* background:gold; */
    z-index: 5;
    grid-column: 1/2;
    grid-row: 1/2;
    height: 2px;

    /* justify-self: center; */
    




}


.logOptions_container button{
     background: rgb(202, 3, 3);
     border: none;
     color: white;
     width: 70px;
}




/*content-container styltes----->*/

.content-container {
    display: flex;
    float: left;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 100vw;
    padding-top: 15px;


}

.paper-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    gap: 20px;
    margin: 0;
    margin-right: 0px;
    width: 100vw;
    padding: 1px;

}

.newLog_container{
    display: grid;
    position: fixed;
    grid-template-rows: 30px 1fr;
    top: 0;
    /* position: relative; */
    padding-bottom: 5px;
    /* background: green; */
    width: 100vh;
    height: 2px;
    



}

.newLog_container form{
    display: grid;
    row-gap: 10px;
    grid-template-rows: 40px 1fr;
    /* padding: 20px; */
    /* background: red; */
    width: 100vw;
    height: 2px;
    
    
}



.newLog_container form textarea{

    font: 1.1em sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 20px;
    border: solid 1px white;
    outline: none;
    position: fixed;
    bottom:  25px;
    left: 55%;
    transform: translate(-50%);
    z-index: 5;
    height: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.562);
    width: 50%;

}


.newLog_container input{
    font: 1.3em sans-serif;
    min-width: 100px;
    background: rgb(19, 109, 192);
    color: white;
    /* margin-left: 50px; */
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.562);

}

.newLog_containerEdit {
    width: 100vw;
    padding: 0;
}


.newLog_containerEdit form{
    display: grid;
    row-gap: 10px;
    grid-template-rows:  50px 1fr;
    height: 100%;
    width: 100vw;
    /* padding: 0 10px; */
    
}


.newLog_containerEdit form textarea{
    font: 1em sans-serif;
    padding: 20px;
    border-radius: 20px;
    /* border: solid 2px silver; */
    /* margin: 0 50px ; */
    outline: none;
    height: 70vh;
}



.newLog_containerEdit input{
    font: 1.3em sans-serif;
    width: 100px;
    background: rgb(19, 109, 192);
    color: white;
    /* margin-left: 50px; */
    border: none;
    border-radius: 20px;
    padding: 5px;
    border: solid white 2px;
    

}

#hide-wapper2{
    display: none;
}


#saveBTN{
    display: none;
   
}


.content-wrapper {
    display: grid;
    /* grid-template-rows: 20px 70px;  pull icon */
    grid-template-rows:  5px 70px;
    background: white;
    margin: 2px;
    /*Remove Margins from here for mobile*/
    padding: 20px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.227);
    height: auto;
    
    
}

.readMode-container{
    position: relative;
    height: 5px;
    width: 70px;
    background: lightgray;
    justify-self: center;
    border-radius: 20px;
}

.newRecord_container>form{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 50px;
    align-items: center;
    
}



.newRecord_container>form:last-child :first-child {
    background: white;
    font: .9em sans-serif;
    padding: 7px 0;
    padding-left: 9px;
    margin-left: 10px;
    width: 100%;
    border: none;

}


.SectionBTN {
    font: 1.9em sans-serif;
    min-width: 40px;
    min-height: 40px;
    border-radius: 70px;
    color:white;
    background: rgb(19, 109, 192);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.178);
    border: solid white 1.5px;
    justify-self: center;




}
.outline {
    display: grid;
    grid-template-rows: 55px;
    height: 10vh;


}





.outline ul {
    display: flex;
    float: left;
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 20px;
    padding: 10px;
    background: none;
    width: 100%;


}

.outline ul button {
    width: auto;
    margin-right: 15px;
    padding: 0px;
    border: none;
    color: rgb(19, 109, 192);
    background: none;
    font-size: 1.1em;
    cursor: pointer;

    /* border-bottom: 1px solid rgb(19, 109, 192); */

}

.outline button a {
    color: rgb(19, 109, 192);
    white-space: nowrap;


}



.user-content {
    height: 100vh;
    background: none;
    overflow-y: scroll;
    scrollbar-width: none;
    margin-bottom: 500px;


}

.user-content h3 {
      color: rgb(19, 109, 192);
    /* border-bottom: 2px solid rgb(19, 109, 192); */
    font-size: 1.1em;
    margin: 0;
    font-weight: bold;

    /* background: white; */


}



.user-content p {
    font-size: 1.3em;
    line-height: 2em;
}

.user-content>:last-child {
    padding-bottom: 100%;

}

.user-content footer {
    color: lightgray;
    text-align: left;
    margin-top: 5%;
}



@media screen and (min-width: 530px) {
    .content-wrapper{
        padding: 30px;
    }

    .dateText-container{
        display: grid;
        grid-template-columns: auto 1fr;
        column-gap: 10px;
        justify-items: left;
    }
}





/* Responsive Layout Styles------------------------------------------------>*/
@media screen and (min-width: 1100px) {
    .dailyLog-container main {
        margin-left: 0vw;
        /* height: 100vh; */


    }

    .readMode-container{
        display: none;
    }

    .newLog_container form {
    width: 65vw;

    }


    .newLog_container form textarea{
        width: 40vw;
        left: 50%;
    }

  
    

    .user-content{
        padding: 0;
        padding-right: 40px;

    }



    .content-container {
        width: 91%;
        margin-left: -50px;
    }

    .content-container>:last-child {
        padding-right: 9vw;

    }

    .content-container>:first-child {
        margin-left: 0px;

    }


    .paper-container {
        position: sticky;
        top: 0;
        left: 5px;
        margin-bottom: 0;
        grid-template-columns: 65vw;
        margin: 0 2.5%;



    }

    .content-wrapper {
        grid-template-columns: 200px auto;

    }

    .outline {
        display: grid;
        background: none;
        padding-left: 20px;

    }

    .outline ul {
        display: block;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-bottom: 40px;
        padding: 0px;
        background: none;
        scrollbar-width: none;


    }

    .outline ul>:last-child {
        padding-bottom: 150%;

    }

    .outline ul li {
        margin-bottom: 20px;


    }

    .outline h2 {
        font: 1.3em sans-serif;
        padding-left: 7px;
    }

    .outline button {
        width: auto;
    }



   

    .newLog_containerEdit form{
        max-width: 70vw;
        margin-top: 70px;
    }

}


.deleteLog-container{
    display: none;
    position: relative;
    grid-template-columns: 1fr 100px;
    background: white;
    z-index: 20;
    align-items: center;
 
  
}

.deleteLog-container p{
    color: rgb(19, 109, 192);

}


.deleteLog-container a{
    color: rgb(19, 109, 192);
    padding: 10px;



}

.deleteLog-container>aside{
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;

}

.deleteLog-container>aside button{
    background: red;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
