body{margin: 0;}
/* dashboard navigation-------------------------------------------- */


.menu-container {
	display: grid;
	row-gap: 10px;
	grid-template-rows: 40px;
	background: #136DC0;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 40px;
	margin: 20px 10px;
	padding: 10px;
	overflow: hidden;
    z-index: 50;
	border: solid 1px white;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	/* margin-left: -500px; */
}

.menu-container::-webkit-scrollbar{
    display: none;
}
.menu-container main h2,
.menu-container main a {
	font: 1.4em sans-serif;
	color: white;
}


.showMenu-container {
	position: fixed;
	top: 0;
	left: 0;
}

/* @media screen and (min-width: 1100px){
    .menu-container{
        width: 20vw;
    }
} */

.menu-container > button {
	height: 40px;
	width: 40px;
	background: none;
	border: 2px solid white;
	font: 1.2em sans-serif;
	color: white;
	border-radius: 40px;
	margin: 20px;
	justify-self: flex-end;
}



.menuIcon-container {
	display: grid;
	row-gap: 6px;
	border-radius: 40px;
	align-content: center;
	justify-self: left;
}

.menuIcon {
	height: 4px;
	width: 40px;
	border-radius: 10px;
	background: white;
}


.menuList-container {
	display: grid;
}

.menuList-container header,
.postSale-container > header {
	display: grid;
	grid-template-columns: 70px 130px 1fr;
	align-items: center;
}

.menuList-container header img,
.postSale-container > header img {
	height: 70px;
	width: 70px;
	border-radius: 50px;
}



.menuList-container > header button {
	font: 1.3em sans-serif;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: solid white 2px;
}


/* main navigation styles------------------------------------- */

.menuList-container main {
	display: grid;
}

.menuList-container main nav{
	display: grid;
}

.menuList-container main nav ul{
	display: grid;
	row-gap: 10px;
}


.menuList-container main nav ul li{
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: center;
	justify-items: left;
}

.menuList-container aside{
	display: grid;
	grid-template-rows: 50px;
	align-content: flex-start;
	height: 150px;
	width: 310px;
}

.menuList-container aside h3{
	font: 1.3em sans-serif;
	color: white;
	height: auto;
}

.menuList-container aside nav{
	display: grid;
}

.menuList-container aside nav ul{
	display: grid;
	row-gap: 10px;
	height: 100px;

}

.menuList-container aside nav ul section{
	display: flex;
	column-gap: 5px;
}

.menuList-container aside nav ul li a{
	font: 1em sans-serif;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
}


.menuList-container footer {
	display: grid;
	grid-template-columns: 1fr 50px;
	height: 50px;
	align-items: center;
}

.menuList-container footer img{
	height: 40px;
	width: auto;
}




.postSale-container footer,
.logoVersion footer {
	display: grid;
}

.postSale-container footer img,
.logoVersion footer img {
	width: 300px;
	height: auto;
	margin: 0 auto;
	justify-self: center;
	align-self: flex-end;
}


.menuList-container footer p {
	justify-self: flex-end;
	color: white;
	align-self: center;
}




.menu-container main nav img{
    width: 50px;
}

.menu-container main nav button{
    font: 1.3em sans-serif;
    background: none;
    color: white;
    border: none;
}

.menuList-container main nav ul h3{
    font: 1.7em sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: white;
    height: 20px;
    align-self: end;
    text-decoration: underline;
}

.dashboard-container{
	display: grid;
	background: whitesmoke;
	margin: 0;
}


#dailyLogPartial{
	display: grid;
}

#profilePartial, #networkPartial, 
#activityTrackerPartial, #stickyNotesPartial,
#bookmarksPartial, #todoListPartial,
#jobTrackerPartial{
	display: none;
}

@media screen and (min-width: 1100px){

}