body{margin: 0;}
/* dashboard navigation-------------------------------------------- */


.menu-container {
	display: grid;
	row-gap: 10px;
	grid-template-rows: 40px;
	background: #136DC0;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 40px;
	margin: 20px 10px;
	padding: 10px;
	overflow: hidden;
    z-index: 50;
	border: solid 1px white;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
	/* margin-left: -500px; */
}

.menu-container::-webkit-scrollbar{
    display: none;
}
.menu-container main h2,
.menu-container main a {
	font: 1.4em sans-serif;
	color: white;
}


.showMenu-container {
	position: fixed;
	top: 0;
	left: 0;
}

/* @media screen and (min-width: 1100px){
    .menu-container{
        width: 20vw;
    }
} */

.menu-container > button {
	height: 40px;
	width: 40px;
	background: none;
	border: 2px solid white;
	font: 1.2em sans-serif;
	color: white;
	border-radius: 40px;
	margin: 20px;
	justify-self: flex-end;
}



.menuIcon-container {
	display: grid;
	row-gap: 6px;
	border-radius: 40px;
	align-content: center;
	justify-self: left;
}

.menuIcon {
	height: 4px;
	width: 40px;
	border-radius: 10px;
	background: white;
}


.menuList-container {
	display: grid;
}

.menuList-container header,
.postSale-container > header {
	display: grid;
	grid-template-columns: 70px 130px 1fr;
	align-items: center;
}

.menuList-container header img,
.postSale-container > header img {
	height: 70px;
	width: 70px;
	border-radius: 50px;
}



.menuList-container > header button {
	font: 1.3em sans-serif;
	width: 35px;
	height: 35px;
	border-radius: 10px;
	border: solid white 2px;
}


/* main navigation styles------------------------------------- */

.menuList-container main {
	display: grid;
}

.menuList-container main nav{
	display: grid;
}

.menuList-container main nav ul{
	display: grid;
	row-gap: 10px;
}


.menuList-container main nav ul li{
	display: grid;
	grid-template-columns: 50px 1fr;
	align-items: center;
	justify-items: left;
}

.menuList-container aside{
	display: grid;
	margin-top: 20px;
	grid-template-rows: 50px;
	align-content: flex-start;
	height: 150px;
	width: 350px;
}

.menuList-container aside h3{
	font: 1.3em sans-serif;
	color: white;
	height: auto;
}

.menuList-container aside nav{
	display: grid;
}

.menuList-container aside nav ul{
	display: grid;
	row-gap: 20px;

}

.menuList-container aside nav ul section{
	display: flex;
	column-gap: 5px;
}

.menuList-container aside nav ul li button{
	font: .9em sans-serif;
	color: white;
	text-decoration: none;
	border: 1px solid white;
	border-radius: 10px;
	padding: 5px;
	background: none;
}


.menuList-container footer {
	display: grid;
	grid-template-columns: 200px 50px;
	height: 50px;
	align-items: center;
}

.menuList-container footer img{
	height: 40px;
	width: auto;
}




.postSale-container footer,
.logoVersion footer {
	display: grid;
}

.postSale-container footer img,
.logoVersion footer img {
	width: 300px;
	height: auto;
	margin: 0 auto;
	justify-self: center;
	align-self: flex-end;
}


.menuList-container footer p {
	justify-self: flex-end;
	color: white;
	align-self: center;
}


.menu-container main nav img{
    width: 50px;
}

.menu-container main nav button{
    font: 1.3em sans-serif;
    background: none;
    color: white;
    border: none;
}

.menuList-container main nav ul h3{
    font: 1.5em sans-serif;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    color: white;
    height: 20px;
    align-self: end;
    text-decoration: underline;
}

.dashboard-container{
	display: grid;
	background: whitesmoke;
	margin: 0;
}


#dailyLogPartial{
	display: grid;
}

#profilePartial, #networkPartial, 
#activityTrackerPartial, #stickyNotesPartial,
#bookmarksPartial, #todoListPartial,
#jobTrackerPartial, #dailyRoutinePartial{
	display: none;
}

@media screen and (min-width: 1100px){

}

/* Recommendation and support----------------------------------------- */
.recommendation-container::-webkit-scrollbar{
	display: none;
}

.recommendation-container{
	display: grid;
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 360px;
	overflow: scroll;
	margin-left: -300%;
	z-index: 100;
	/* padding: 20px; */
	box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.103);
	align-content: flex-start;
}


/* post feed and comments */
.postFeed-container{
	display: grid;
}
.postFeed-container main ul {
	display: grid;
	row-gap: 10px;
	overflow: scroll;
}

.postFeed-container main ul li{
	background: white;
	max-width: 350px;
	padding: 20px;
}

.postComments-container{
	display: none;
	background: red;
	position: fixed;
	top: 0;
	height: 100vh;
	width: 350px;
}


/* Get started------------------------------- */
.getStarted-container{
	background: white;
	row-gap: 10px;

}

.getStarted-container ul {
    margin: 0;

}

.getStarted-container>section{
	display: grid;
	grid-template-columns: 80px 1fr;
	height: 50px;
	align-items: center;
}

.getStarted-container>section button{
	height: 40px;
	width: auto;
	background: none;
	color: #136DC0;
	border: none;
	text-align: left;
}

.getStarted-container>header aside{
	background: #136DC0;
	position: relative;
	height: auto;
	padding: 10px;
	color: white;
	border-radius: 10px 10px 0 0;
	display: grid;
	row-gap: 5px;

}

.getStarted-container>header aside h2{
	font-size: 1.7em;
	font-family: monospace;
	color: white;
}

.getStarted-container>header aside p{
	font-size: 1.1em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.getStarted-container>header section{
	display: grid;
	padding: 10px 10px 0 10px;
	row-gap: 10px;
}



.getStarted-container h2{
	font-size: 1.5em;
	font-family: monospace;
	font-weight: bold;
	color: black;
}

.getStarted-container p{
	font: 1em sans-serif;
}


.getStarted-container>main{
	display: grid;
	padding: 10px;
	row-gap: 10px;

}

.getStarted-container>main>section{
	display: grid;
	row-gap: 10px;
	height: 40px;
	overflow: hidden;
	border: solid 1.5px #136DC0;
	border-radius: 7px;
}

.getStarted-container main section section{
	border: solid black 1px;
	padding: 10px;
	border-radius: 7px;
}



.getStarted-container>main>section h2{
	padding: 10px;
	cursor: pointer;
	color: #136DC0;
}

.getStarted-container section p, 
.getStarted-container main p,
.getStarted-container aside p{
	font-size: 1em;
	line-height: 25px;
}



.getStarted-container>main section section{
	display: grid;
	row-gap: 10px;
}

.getStarted-container>main section section h3{
	font-size: 1.5em;
	font-family: monospace;
}



.getStarted-container main section img{
	width: 300px;

}

.getStarted-container>footer{
	display: grid;
	grid-template-columns: 2fr 1fr;
	column-gap: 5px;
	padding: 0 10px;
}

.getStarted-container footer button{
	background: white;
	color: #136DC0;
	border: solid 1px #136DC0;
	height: 40px;
	font: 1em sans-serif;
}

.getStarted-container footer a:first-child button {
	background: #136DC0;
	color: white;
	font: 1em sans-serif;
	border: solid 1px #136DC0;
	height: 40px;
	width: 100%;

}


.getStarted-container aside{
	padding: 10px;
}


.getStarted-container>footer>main{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.735);
	height: 100vh;
	width: 100vw;
	margin: 0;
	justify-content: center;
	align-content: center;
}

.getStarted-container>footer>main>button{
	width: 40px;
	border-radius: 40px;
	background: rgba(0, 0, 0, 0.509);
	color: white;
	font: 1.5em sans-serif;
	border: solid 1px white;
	position: fixed;
	top: 5%;
	right: 49%;

}

.getStarted-container>footer>main>header{
	display: grid;
	row-gap: 10px;
	background: white;
	height: 500px;
	width: 350px;
	border-radius: 7px;
	align-content: center;

}
.getStarted-container>footer>main header section {
	display: none;
	width: 300px;
	row-gap: 10px;
}


.getStarted-container>footer>main header button{
	background: #136DC0;
	color: white;
	width: 250px;
	height: 50px;
	font: 1.3em sans-serif;
	justify-self: center;

}


