body::-webkit-scrollbar {
    display: none;
}


ul{
    list-style: none;
    padding: 0;
}

h1, h2,h3, p{
    margin: 0;
    padding: 0;
}

.keepRight{
    justify-self: right;
}

.span2{
    grid-column: span 2;
    grid-row: auto;
}


a:visited {
    color: rgb(13, 129, 165);
  }

