body{
    display: grid;
    background: whitesmoke;
    margin: 0 auto;
    max-width: 65em;
    font: 1em sans-serif;

}


button{
    outline: none;
    cursor: pointer;
}

.landingPage-container{
    display: grid;
    height: 100vh;
}

.landingPage-container nav{
    display: grid;
    grid-template-columns:  100px;
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 1;
    align-self: flex-start;
    justify-content: flex-end;
    padding: 0 30px ;
    max-width: 105em;
}

/* .landingPage-container nav :first-child{
    background: none;
    color: #136DC0;
} */

.landingPage-container nav button{
    background: #136DC0;
    height: 30px;
    color: white;
    font: 1em sans-serif;
    border: none;
}

.background-container{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-content: center;
    z-index: -300;


}


.background-container img{
    width: 100%;
    height: 99.5vh;
}

.options-container{
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    /* background: gold; */
    justify-self: center;
}

.options-container header {
    margin-top: 40px;

}
.options-container header img {
    width: 330px;
    display: block;
    margin: 0 auto;
}


.options-container header p {
    background: rgba(237, 237, 237, 0.185);
    font: 1.5em sans-serif;
    margin: 40px 0;
    padding: 40px;
    color: white;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.205);

    
}

.options-container header p b{
    color: #187ddc;
}


.options-container>main{
    display: grid;
    row-gap: 7px;
    align-self: center;

}

.options-container button{
    width: 200px;
    justify-self: center;
    font: 1.2em sans-serif;
    background: #136DC0;
    height: 50px;
    border-radius: 20px;
    border: solid white 2px;
    color: white;

}


.signIn-container{
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    height: 100%;
    margin-top: -1700px;
    min-width: 400px;
}


@media screen and (min-width: 1000px) {
    body{
        max-width: none;
    }

.options-container header img {
    width: 630px;

}


.options-container main{
    grid-template-columns: repeat(3, 1fr);
}



.options-container header p {
    background: none;
    border: none;
    font: 1.5em sans-serif;
    color: white;
    text-shadow: none;
    margin: 20px 0;
    padding: 0;


}

.options-container header p b{
    color: #136DC0;
}

}




